<div class="container">
  <div class="row">
    <div class="col-12">
      Registration Form
    </div>
  </div>
  <div class="form-group">
    <label for="txtName">Name</label>
    <input type="text" class="form-control" id="txtName" [(ngModel)]="fname" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="txtAddress1">Address line 1</label>
    <input type="text" class="form-control" id="txtAddress1" [(ngModel)]="address1" placeholder="Enter your address line 1">
  </div>
  <div class="form-group">
    <label for="txtAddress2">Address line 2</label>
    <input type="text" class="form-control" id="txtAddress2" [(ngModel)]="address2" placeholder="Enter your address line 2">
  </div>
  <div class="form-group">
    <label for="txtCity">City</label>
    <input type="text" class="form-control" id="txtCity" [(ngModel)]="city" placeholder="Enter your city">
  </div>
  <div class="form-group">
    <label for="txtPinCode">Pincode</label>
    <input type="text" class="form-control" id="txtPinCode" [(ngModel)]="pincode" placeholder="Enter your pincode">
  </div>
  <div class="form-group">
    <label for="txtEmail">Email</label>
    <input type="text" class="form-control" id="txtEmail" [(ngModel)]="email" placeholder="Enter your email">
  </div>
  <div class="form-group">
    <label for="txtDOB">DOB</label>
    <input type="text" class="form-control" [(ngModel)]="dob" placeholder="Datepicker" bsDatepicker>
  </div>
</div>
